.productos-destacados {
    text-align: center;
}
  
.productos-destacados h2{
    Font-family: Cat Comic, cursive;
    color: #414141;
    font-size: 60px;
}

.producto {
    vertical-align: top;
    display: inline-block;
    margin: 20px;
}


.producto img {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}
  
.producto h3 {
    margin: 10px ;
    Font-family: Cat Comic, cursive;
    color: rgb(68, 68, 68);
    font-size: 30px;

}
  
.precio {
    margin: 5px ;
    font-size: 25px;
    font-weight: 700;
    color: rgb(68, 68, 68);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stock{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: rgb(68, 68, 68);

}
  
.btn {
    background-color: #eab003;
    color: white;
    padding: 10px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 30px;
    font-family: Super Toast Personal Use, cursive;
}

.ver-todo-btn {
    font-family: Super Toast Personal Use, cursive;;
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 15px 40px ;
    border-radius: 45px;
    cursor: pointer;
    font-size: 50px;
    display: block;
    margin: auto;
    margin-top: 50px;
}
  