.insta {
    background-color: #fff; 
    padding: 20px; 
}

.nombre {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.nombre h2 {
    Font-family: Cat Comic, cursive;
    font-weight: 100;
    color: #616161;
    margin-left: 20px; 
}

.redessociales img {
    width: 40px; 
    height: auto;
}

.posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    margin-bottom: 20px; 
}

.imagen {
    width: 100%; 
    height: auto;
}

.imagen img {
    width: 100%; 
    height: 700px;
    overflow: hidden;
}

.botones {
    display: flex;
    justify-content: space-evenly; 
}

.botonnegro {
    background-color: #424242; 
    color: #fff; 
    padding: 20px 30px; 
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.botonazul {
    background-color: #268fff; 
    color: #fff; 
    padding: 20px 30px; 
    border: none;
    border-radius: 5px;
    font-size: 20px;

}
