@font-face {
    font-family: Super Toast Personal Use;
    src: url("/css/Super Toast Personal Use.ttf");
}

.nuestras-mascotas {
    padding-top: 50px;
    text-align: center;
}
  
.nuestras-mascotas h2 {
    font-family: Super Toast Personal Use, cursive;
    color: rgb(96, 96, 96);
    font-size: 60px;
}
  
.nuestras-mascotas p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-weight: 800;
    font-size: 20px;
    margin-top: -20px;
    padding-bottom: 30px;
}
  
.imagenes-mascotas {
    display: flex;
    justify-content: center;
  }
  
.imagenes-mascotas img {
    width: 400px;
    height: 400px;
    margin: 0 70px;
}

.mascota1 p {
    font-family: Super Toast Personal Use, cursive;
    display: block;
    margin-top: 20px;
    font-weight: 100;
    font-size:40px;
    color: rgb(59, 59, 249);
}

  .mascota2 p {
    font-family: Super Toast Personal Use, cursive;
    display: block;
    margin-top: 20px;
    font-weight: 100;
    font-size:40px;
    color: rgb(42, 42, 42);
}

.mascota3 p {
    font-family: Super Toast Personal Use, cursive;
    display: block;
    margin-top: 20px;
    font-weight: 100;
    font-size:40px;
    color: rgb(212, 34, 228);
}
  